@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Big+Shoulders:opsz,wght@10..72,100..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Karla:ital,wght@0,200..800;1,200..800&family=Kumbh+Sans:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=League+Spartan:wght@100..900&family=Lexend+Deca:wght@100..900&family=Luckiest+Guy&family=M+PLUS+Rounded+1c&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Young+Serif&display=swap');

:root {
    --pink: hsl(0, 36%, 70%);
    --red: hsl(0, 93%, 68%);
    --darkGrey: hsl(0, 6%, 24%);

    --w300: 300;
    --w400: 400;
    --w600: 600;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Josefin Sans", sans-serif;
}

body {
    background-color: hsl(0, 100%, 98%);
    min-width: 320px;
}

img {
    display: block;
    height: auto;
    width: 100%;
}

/* logo */
.logo-container {
    padding: 2rem;
    background-color: white;
}

.logo-container img {
    width: 45%;
    max-width: 150px;
}

/* article */
.article-container {
    padding: 4rem 2rem;
}

h1 {
    font-size: clamp(2.5rem, 1.6rem + 3.84vw, 4rem);
    color: var(--pink);
    text-transform: uppercase;
    font-weight: var(--w300);
    text-align: center;
    letter-spacing: 8px;

    margin-block-end: 1rem;
}

h1 span {
    font-weight: var(--w400);
    color: var(--darkGrey);
}

.description {
    color: var(--pink);
    line-height: 150%;
    text-align: center;
    font-weight: var(--w400);
    font-size: clamp(0.9rem, 0.765rem + 0.576vw, 1.125rem);
    margin-block-end: 2rem;
}

/* input */
.input-container {
    position: relative;
    max-width: 450px;
    margin: 0 auto;
}

input {
    width: 100%;
    border: 1px solid var(--pink);
    font-size: 1rem;
    padding: 1rem 1.5rem;
    border-radius: 32px;
    outline-color: var(--pink);
    background: none;
}

.red-border {
    border: 2px solid var(--red);
}

input::placeholder {
    color: var(--pink);
}

.error-icon {
    width: 24px;
    position: absolute;
    top: 50%;
    right: 25%;
    transform: translateY(-50%);
}

.error-message {
    color: var(--red);
    font-size: clamp(0.9rem, 0.765rem + 0.576vw, 1.125rem);

    position: absolute;
    bottom: -1.5rem;
    left: 1.5rem;
}

button {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 22%;

    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    background-image:
    linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 58%, 69%));
    border-radius: 32px;
    cursor: pointer;
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.15);
}

button:hover {
    background-image:
    linear-gradient(135deg, hsl(0, 100%, 96%), hsl(0, 80%, 86%));
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.25);
}

button:active {
    background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 58%, 69%));
}

.arrow-img {
    width: 12px;
}

/* hero desktop */
.hero-desktop-container {
    display: none;
}

/* attribution */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* 750 px */
@media (min-width: 46.875rem) {
    .hero-mobile-container {
        display: none;
    }

    .hero-desktop-container {
        display: block;
    }

    .hero-desktop-container img {
        height: 100%;
        object-fit: cover;
    }

    body {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
    }

    main {
        background-image: url('./images/bg-pattern-desktop.svg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .logo-container {
        background: none;
    }

    h1 {
        text-align: start;
    }

    .description {
        text-align: start;
    }

    .input-container {
        margin: 0;
    }
}

/* 1000px */
@media (min-width: 62.5rem) {
    main {
        padding: 2rem 7rem;
    }
}